/* Add application styles & imports to this file! */
html,body {
  margin:0;
  padding:0;
}
ul,p,h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding: 0;
}

.boxs {
  width: 100%;
  float:left;
  display: block;
}

.examcomm {
  padding: 40px 0 50px;
}

.inner h2 {
  font-size: 28px;
  color:#555;
  margin-bottom: 20px;
}